
<ion-header [translucent]="true">
  <ion-toolbar>
    <section id="titulo">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title><p>{{producto.nombre}}</p></ion-title>
    </ion-buttons>  
  </section>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <section>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{producto.nombre}}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <section id="card">
    <img alt="{{producto.nombre}}" src="{{producto.imagen}}" />
    <ion-card-header>
      <ion-card-title><h1>{{producto.nombre}}</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{producto.descripcion}}</h2>
      <h2> ${{producto.precio}}</h2>
    </ion-card-content>

    <section id="contador-container">
      <ion-button fill="clear" color="dark" (click)="cantidad=cantidad-1">-</ion-button>
      <span>{{cantidad}}</span>
      <ion-button fill="clear" color="dark" (click)="cantidad=cantidad+1">+</ion-button>
    </section>
    <ion-button id="agregar" color="dark" fill="outline" shape="round" (click)="cartService.agregarAlCarrito(producto,cantidad)" [routerLink]="['/tabs/tab3']">Agregar al carrito 
    </ion-button>
  </section>
    <ion-toast trigger="agregar" message="El producto fue añadido" [duration]="1000"></ion-toast>
  </ion-card>
  </section>
</ion-content>
